<!DOCTYPE html>
<html lang="esp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/Resources/CSS/mystyle.css" rel="stylesheet" type="text/css">
    <script src="../static/JS/script.js"></script>

    
    <title>InventoryApp - Crear Usuario</title>

</head>
<body>
    <header>
        <div class="logedj1">
            <a href="{{ url_for('menu') }}"><button class="boton1">Atras</button></a>
            <div class = "centradoj">
                <img class = "logoj"  src = "../static/Images/usuario.png" alt="Imagen de Usuario">
                <h2 class = "centradoj usuarioj" >Nombre usuario</h2>
            </div>
            <div class="salir-posición">
                <button class="salir"><a href="{{ url_for('logout')}}">Cerrar sesión</a></button>
            </div>
        </div>
    </header>
    <main class = "gest-usuariosj">
    <form name="formulario" method="POST" action="{{ url_for('crear_usuario') }}">
            <div class = "informacion-Usuarioj">
                    <h1 class = "titlePagej">Crear Usuario</h1>
                    <br><br><br>
                    <label class = "labelj" for="username">Nombre:</label>
                    <input class = "espacioj" id="username" type="text" name="username" >
            </div>
            <div class = "informacion-Usuarioj">
                <label class = "labelj" for="email">Correo Electrónico:</label>
                <input class = "espacioj" type="email" id="email" name="user_email" >
            </div>
            <div class = "informacion-Usuarioj">
                <label class = "labelj" for="password">Contraseña:</label>
                <input class = "espacioj" name="password" id="password" type="password" minlength="8" maxlength="10">
            </div>

            <div class = "informacion-Usuarioj">
                <p class="selecciona-rol">Selecciona el Rol del Usuario:</p>
                <div class="form-check">
                    <input class="form-check-input-espacioj" type="checkbox" value="" id="defaultCheck1" name="admin">
                    <label class="form-check-label " for="defaultCheck1">
                        Admin
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input-espacioj" type="checkbox" value="" id="defaultCheck2" name="user">
                    <label class="form-check-label" for="defaultCheck2">
                        Usuario
                    </label>
                </div>
            </div>

            <div class = "bottonj">
                <br>
                <button role = "link" class="lineaj" type="submit">Guardar Usuario</button>

            </div>
    </form>
    </main>
    <footer>
        <p class="informacionj">Misión TIC Grupo 2 - Subgrupo B<br> Todos los derechos reservados </p>
    </footer>
</body>