<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/Resources/CSS/mystyle.css" rel="stylesheet" type="text/css">
    <script src="../static/JS/script.js"></script>

    <title>InventoryApp - Gestionar Usuarios</title>
</head>
<body>
    <header>
        <div class="logedj1">
            <a href="{{ url_for('menu') }}"><button class="boton1">Atras</button></a>
            <div class = "centradoj">
                <img class = "logoj"  src = "../static/Images/usuario.png" alt="Imagen de Usuario">
                <h2 class = "centradoj usuarioj" >Nombre usuario</h2>
            </div>
            <div class="salir-posición">
                <button class="salir"><a href="{{ url_for('logout')}}">Cerrar sesión</a></button>
            </div>
        </div>
    </header>
    <main class = "gest-usuariosj">
        <header>
            <h1 class = "titlePagej" >Gestionar Usuarios</h1>
        </header>
    
        <p class = "listaUsuariosj">
            Lista de usuarios
        </p>

        <div class = "formj">
            
            <form class="tex-usuariosj">
                <input class = "cajaj" type="text" placeholder="" />
            </form> 

        </div>
        <div class = "bottonj">
            <button class="linea"><a href="{{ url_for('crear_usuario') }}">Crear Usuario</a></button>
            <button type="submit" class="linea"><a href="{{ url_for('mod_usuario') }}">Modificar Usuario</a></button>
        </div> 
    </main>
    <footer>
        <p class="informacionj">Misión TIC Grupo 2 - Subgrupo B<br> Todos los derechos reservados </p>
    </footer>
</body>
</html>