<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InventoryApp - Lista de Productos</title>
    <link href="../static/Resources/CSS/mystyle.css" rel="stylesheet" type="text/css">
    <script src="../static/JS/script.js"></script>
</head>
<body>
    <header>
        <div class="logedj1">
            <a href="{{ url_for('menu') }}"><button role = "link1"  class="boton1">Atras</button></a>
            <p class = "centradoj">
                <img class = "logoj"  src = "../static/Images/usuario.png" width="50" height="50" >
                <h2 class = "centradoj usuarioj" >Nombre usuario</h2>
            </p>
            <div class="salir-posición">
                <button class="salir">Salir</button>
            </div>

        </div>
    </header>
    <main>
        <!--Lista de productos-->
        <div class="tituloLista">
            <h1>Lista de productos</h1>
        </div>
        <section class="contenedor-lista">
            <section class="product-list">
                <!--Tarjetas de productos-->
                <!--Primer Producto-->
                <div class="card">
                    <div class="title">
                        Croissants
                    </div>
                    <div class="image">
                        <img src="../static/Images/croissant.jpg" alt="">
                    </div>
                    <div class="text">Descripción del producto</div>
                    <a href="{{ url_for('producto') }}"><button class="verMas">Ver más</button></a>
                </div>
                <!--Segundo producto-->
                <div class="card">
                    <div class="title">
                        Café
                    </div>
                    <div class="image">
                        <img src="../static/Images/cafe.jpg" alt="">
                    </div>
                    <div class="text">Descripción del producto</div>
                    <a href="{{ url_for('producto') }}"><button class="verMas">Ver más</button></a>
                </div>
                <!--Tercer producto-->
                <div class="card">
                    <div class="title">
                        Arroz con leche
                    </div>
                    <div class="image">
                        <img src="../static/Images/arrozconleche.jpg" alt="">
                    </div>
                    <div class="text">Descripción del producto</div>
                    <a href="{{ url_for('producto') }}"><button class="verMas">Ver más</button></a>
                </div>
                <!--Cuarto producto-->
                <div class="card">
                    <div class="title">
                        Té chai
                    </div>
                    <div class="image">
                        <img src="../static/Images/techai.jpg" alt="">
                    </div>
                    <div class="text">Descripción del producto</div>
                    <a href="{{ url_for('producto') }}"><button class="verMas">Ver más</button></a>
                </div>
                <!--Quinto producto-->
                <div class="card">
                    <div class="title">
                        Empanadas argentinas
                    </div>
                    <div class="image">
                        <img src="../static/Images/empanadasargentinas.jpg" alt="">
                    </div>
                    <div class="text">Descripción del producto</div>
                    <a href="{{ url_for('producto') }}"><button class="verMas">Ver más</button></a>
                </div>
                <!--Sexto producto-->
                <div class="card">
                    <div class="title">
                        Dedo de queso
                    </div>
                    <div class="image">
                        <img src="../static/Images/dedoconqueso.jpg" alt="">
                    </div>
                    <div class="text">Descripción del producto</div>
                    <a href="{{ url_for('producto') }}"><button class="verMas">Ver más</button></a>
                </div>
                <!--Séptimo producto-->
                <div class="card">
                    <div class="title">
                        Pastel de pollo horneado
                    </div>
                    <div class="image">
                        <img src="../static/Images/pastelpollo.jpg" alt="">
                    </div>
                    <div class="text">Descripción del producto</div>
                    <a href="{{ url_for('producto') }}"><button class="verMas">Ver más</button></a>
                </div>
                <!--Octavo producto-->
                <div class="card">
                    <div class="title">
                        Pandebono
                    </div>
                    <div class="image">
                        <img src="../static/Images/pandebono.jpg" alt="">
                    </div>
                    <div class="text">Descripción del producto</div>
                    <a href="{{ url_for('producto') }}"><button class="verMas">Ver más</button></a>
                </div>
                <!--Noveno producto-->
                <div class="card">
                    <div class="title">
                        Pasteles hawaianos
                    </div>
                    <div class="image">
                        <img src="../static/Images/pastelhawaiano.jpg" alt="">
                    </div>
                    <div class="text">Descripción del producto</div>
                    <a href="{{ url_for('producto') }}"><button class="verMas">Ver más</button></a>
                </div>
            </section>
        </section>
    </main>
    <footer class="footer">
        <p>Misión TIC Grupo 2 - Subgrupo B™</br> Todos los derechos reservados</p>
    </footer>
    
</body>
</html>