<!DOCTYPE html>
<html lang="esp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InventoryApp - Login</title>
    <link href="../static/Resources/CSS/mystyle.css" rel="stylesheet" type="text/css">
    <script src="../static/JS/script.js"></script>
</head>

<body>
    <main>
        <!--inicio de sesión y recuperación de contraseña-->
        <section class="login-page">
            <div class="form">
                <form class="password-form invisible" method="POST" action="{{ url_for('recuperar') }}" novalidate>
                    <p class="informacion"> Hola, para recuperar tu contraseña ingresa tu correo electrónico y pulsa en
                        el botón RECUPERAR CONTRASEÑA. Solo tienes que seguir las instruciones que te darémos en el correo.
                    </p>
                    {{ form.hidden_tag() }}
                    <p>
                        {{form.email.label}}
                        {{form.email(size=30)}}
                    </p>
                    <p>
                        {{ form.recuperar() }}
                    </p>
                    <p class="message">¿Ya tienes una cuenta? <a href="#" onclick="toggle()">
                        Ingresa ahora</a>
                    </p>
                </form>
                <form class="login-form visible" id="inicio-sesion" method="POST" action="{{ url_for('login') }}" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}
                        {{ form.username(size=30)}}
                    </p>
                    <p>
                        {{ form.password.label }}
                        {{ form.password(size=30) }}
                    </p>
                    <p>
                        {{ form.enviar() }}
                    </p>
                    <section class="content">
                        {% for message in get_flashed_messages()%}
                            <div class="informacion">
                                {{ message}}
                            </div>
                        {% endfor %}
                    </section>
                    <p class="message">¿Olvidaste tu contraseña?<a href="#" onclick="toggle()"> Recuperar</a></p>
                </form>
            </div>
        </section>
    </main>

    <footer class="footer">
        <p>Misión TIC Grupo 2 - Subgrupo B™<br> Todos los derechos reservados</p>
    </footer>

</body>

</html>