<!DOCTYPE html>
<html lang="esp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InventoryApp - Modificar Usuario</title>
    <link href="../static/Resources/CSS/mystyle.css" rel="stylesheet" type="text/css">
    <script src="../static/JS/script.js"></script>
    


</head>
<body>
    <header>
        <div class="logedj1">
            <a href="{{ url_for('usuarios') }}"><button class="boton1">Atras</button></a>
            <div class = "centradoj">
                <img class = "logoj"  src = "../static/Images/usuario.png" alt="Imagen de Usuario">
                <h2 class = "centradoj usuarioj" >Nombre usuario</h2>
            </div>
            <div class="salir-posición">
                <button class="salir"><a href="{{ url_for('logout')}}">Cerrar sesión</a></button>
            </div>
        </div>
    </header>
    <main class = "gest-usuariosj">
        <form method="POST" action="{{url_for('mod_usuario')}}">
            <div class = "informacion-Usuarioj">
                <header>
                    <h1 class = "titlePagej">Modificar Usuario</h1>
                </header>
                    <section class="content">
                        {% for message in get_flashed_messages()%}
                            <div class="informacion">
                                {{ message}}
                            </div>
                        {% endfor %}
                    </section>
                {% if data %}
                    <br /><br />
                    <label class = "labelj" for="identificacion">Identificación</label>
                    <input class = "inputj" id="identificacion" type="text" name="identificacion" placeholder="{{data[0]}}">
                    <br /><br />
                    <label class = "labelj" for="username">Nombre:</label>
                    <input class = "inputj" id="username" type="text" name="username" placeholder="{{data[1]}}" >
                
            </div> 
            
            <div class = "informacion-Usuarioj">   
            
                <br /><br />
                <label class = "labelj" for="email">Correo Electrónico:</label>
                <input class = "inputj" type="email" id="email" name="user_email" placeholder="{{data[2]}}">
            
            </div>  
            <div class = "informacion-Usuarioj">    
                
                <br /><br />
                <label class = "labelj" for="password">Contraseña:</label>
                <input class = "inputj espacioj" name="password" placeholder="{{ data[3]}}" id="password" type="password" minlength="8" maxlength="10">
                
            </div>
            <div class = "informacion-Usuarioj">
                <p class="selecciona-rol">Selecciona el Rol del Usuario:</p>
                <div class="form-check">
                    <input class="form-check-input-espacioj" type="checkbox" value="" id="defaultCheck1" name="admin">
                    <label class="form-check-label " for="defaultCheck1">
                        Admin
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input-espacioj" type="checkbox" value="" id="defaultCheck2" name="user">
                    <label class="form-check-label" for="defaultCheck2">
                        Usuario
                    </label>
                </div>
            </div>
            {% endif %}
            <div class = "bottonj">
                <br /><br />
                <button type="submit" class="linea">Modificar Usuario</button>
                <button class="linea" type="submit" value="pressed" name="delete_button">Eliminar Usuario</button></a>
                
            </div>
        </form> 
    </main>
    <footer>
        <p class="informacionj">Misión TIC Grupo 2 - Subgrupo B<br> Todos los derechos reservados </p>
    </footer>
</body>