<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario Autenticado</title>
    <link href="../static/Resources/CSS/mystyle.css" rel="stylesheet" type="text/css">
    
    
</head>

<body>
   <header>
        <div class="logedj1">
            <a href="{{ url_for('usuario_aut') }}"><button class="boton1">Atras</button></a>
            <div class = "centradoj">
                <img class = "logoj"  src = "../static/Images/usuario.png" alt="Imagen de Usuario">
                <h2 class = "centradoj usuarioj" >Nombre usuario</h2>
            </div>
            <div class="salir-posición">
                <button class="salir"><a href="{{ url_for('logout')}}">Cerrar sesión</a></button>
            </div>
        </div>
    </header>

    <div class = "usu-aut">
        <form class="formF2" action="login.html" method="POST">
            <label for="username"> SISTEMA DE GESTION DE INVENTARIOS  </label>
            <button formmethod="get" type="submit" name="enviar"><a href="{{url_for('lista')}}">Lista de productos</a></button>
            <br /><br />
            <input id="username" type="text" name="username" placeholder="Nombre del producto">
            <br><br>
            <button type="submit" name="enviar" >Buscar</button>
        </form>

    </div>
   <footer class="footer">
       <p>Misión TIC Grupo 2 - Subgrupo B™<br> Todos los derechos reservados</p>
    </footer>
</body>
</html>